# Verification - Customer Connection to the ALB

## HTTP Request fails

Perform an HTTP request towards the Wordpress URL clicking on the Wordpress button available inside the POD portal assigned to you, as depicted below.

![Lab Overview](images/wordpress.png)
_Figure 3: Wordpress URL_

You will notice that the Wordpress app is down.

![Lab Overview](images/gateway-timeout2.png)
_Figure 4: Wordpress URL_


